<ul class="nav nav-fill navbar bg-primary nav-hover" data-bs-theme="dark">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/"><strong>Inicio</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" routerLink="/informacion"><strong>Información</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/registro"><strong>Registro de Facturas</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reporte"><strong>Reporte</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/usuarios"><strong>Usuarios</strong></a>
  </li>
</ul>
  