<div class="container-fluid">


  <form>
  <div class="padre-container">
    <div class="container-1">
      <img src="../assets/impuesto.jpg" class="card-img-top" alt="Impuesto a la Renta" width="100%" height="100%">
      <div class="desc">
        <h1 class="text-center ">Calculadora de Impuesto a la Renta</h1>
        <p>Esta aplicación permite calcular el Impuesto a la Renta que las personas deben pagar, considerando diferentes tipos de ingresos y deducciones permitidas por la ley.</p>
      </div>
    </div>

    <div class="container-2">
      <app-menu></app-menu>
      <br>
      <router-outlet></router-outlet>
      <br>
    </div>
    
  </div>
</form>


</div>