body {
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label span {
    font-weight: 700;
}


label input {
    width: 90%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

label input:hover {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #312ccc4f;
}
label input:focus {
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #4543d14f;
}


select {
    width: 100%;
    padding: 15px;
    background-color: #f6f6f6d5;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

select:hover{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #5d53e74f;
}
select:focus{
    background-color: white;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #5650ff4f;
}



.submit-btn {
    background-color: #2e1a9f;
    color: white;
    font-weight: 500;
    font-size: 15pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.75;
}

.container_{
    width: 500px;
    height: 500px;
    margin: 25px;
}
